<!DOCTYPE html>
<html>
<head>
  <title>CarsonifiedCast</title>
  <%= stylesheet_link_tag :all, 'formtastic' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
